*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #665866;
}
section{
	height: 100vh;
	width: 50%;
	border: 1px solid transparent;
	margin: auto;
}
h1{
	font-family: poppins;
	font-size: 3em;
	color: #fff;
	text-align: center;
	font-weight: 700;
	margin-top: 10%;
}
div{
	height: auto;
	width: 90%;
	margin: auto;
	display: block;
	margin-top: 20px;
}
button{
	height: 100%;
	width: 100%;
	padding: 10px 20px;
	font-family: poppins;
	color: rgb(0, 0, 0);
	font-size: 20px;
	border: none;
	outline: none;
	border-radius: 10px;
}




@media screen and (max-width: 600px){
	section{
		width: 90%;
	}
	h1{
		font-size: 2.5em;
		line-height: 1;
	}
}

@media screen and (max-width: 768px){
	section{
		width: 90%;
	}
}